{% extends "layout.html" %}


{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <div class="container-fluid" >
            <title>SPA - What it's all about?!</title>
            <h1 class="text-center">SPA - <small style="color: #72237D">What it's all about?!</small></h1><br> 
            
            <p class = "lead" class="text-center"> I built this website to share my experience in developing on Python Microframework <b>Flask</b>.</p>
            <p>The goal of developing this application was to learn what Flask is good at, why people using it. To learn about Flask toolkit and what official documentation recommends to blend it with. Find out how flexible Flask is in managing inconsistent, repeatable code and content.To decide if I would use it for a larger scale projects. </p><br>
            
            <p class = "lead" class="text-center">What is Flask? </p>
            <p>From my experience of using Flask, I understood that it is a backbone of the web application that provide means for <br> user - server communication, i.e., handling requests from users and sending back responses, passing, modifying or deleting data & information, as well as, laying out routes on your website, and many more...</p>
            <p class = "lead" class="text-center">What Flask offers and what I used: </p>
            <ul>
                <li>Official: <a href="http://jinja.pocoo.org/docs/dev/">Jinja2 Templates</a> Flask: <a href="http://flask.pocoo.org/docs/0.11/templating/">Jinja2 Setup</a>
                </li>
                <li><a href="http://flask.pocoo.org/docs/0.11/quickstart/#routing">Routing of a website</a></li>
                <li><p>URL building methods</p></li>
                <li><p>HTTP Methods</p></li> 
                <li><a href="http://flask-sqlalchemy.pocoo.org/2.1/">SQLAlchemy DB toolkit</a></li>
                <li><a href="https://flask-login.readthedocs.io/en/latest/">Flask Login</a></li>
                <br>
                <p>From outside Flask's scope I used: </p>
                <li><a href="http://wtforms.readthedocs.io/en/latest/">WTForms </a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap Library </a></li>
                <br>
                <p>Special <b>Thank You</b> for authors of this guides that helped me to understand basics of development on Flask and showed me what can be done if I continue to learn Flask. </p>
                <li><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask Mega Tutorial by Miguel Grinberg</a></li>
                <li><a href="https://www.youtube.com/watch?v=W1hLK4D6s8k&list=PLvWwA9iDlhHDZD_V0SUnO-wiN3FpZOy2P">Bootstrap Anatomy by Nikita Krasnik </a></li>  
                <li><a href="https://www.youtube.com/watch?v=Lv1fv-HmkQo&list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB">Flask Tutorial Web Development with Python by Youtuber sentdex </a></li>
                <li><a href="http://stackoverflow.com/search?q=Flask">Stackoverflow</a></li>
            </ul>
            <br><br>
            <p class = "lead" class="text-center">Lets go ahead and install necessary components to run an app:  </p>
            <!-- Redirect to topics page -->
            <a  href="{{ url_for('installation') }}" class = "loginBtn btn-block">Start Learning</a>

    </div>
        
  
{% endblock %}