<!-- THIS IS A BASE TEMPLATE FOR ALL OTHER TEMPLATES 
     Includes: 1 <head></head> with library links, style links, favicon
               2 <header></header> with LOGO and user buttons with some python logic to determine what to render.
               3 <body></body> with content and jinja2 logic for flash messaging to notify user if some event occured  
        -->


<!DOCTYPE html>
<html lang="en">
                <!-- HEAD ELEMENT - note, I am using jinja2 {{ url_for('static', filename = '/lvl1/lvl2/lvl3/file.type') }} variable tag when assigning href path to a link. Let the server handle routing to a files. -->

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 



        <!-- Style Links -->
        <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <link rel = "stylesheet" href="{{ url_for('static', filename = 'lib/css/bootstrap.min.css')}}">
        <link href = "{{ url_for('static', filename = 'style.css')}}" rel = "stylesheet" >
        <link rel = "shortcut_icon" href = "{{ url_for('static', filename = 'favicon.ico')}}">
              <!-- Compilable Scripts 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

        <script src ="{{ url_for('static', filename = 'lib/jquery/jquery.min.js')}}"></script>

        <!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

        <script src ="{{ url_for('static', filename = 'lib/js/bootstrap.min.js')}}"></script>
    {% endblock %}
</head>

                   <!-- Header ELEMENT - content of header is wrapped in jinja2 blocks to mark what need to be rendered 
                                         to an inheritting element. -->
<header>
    {% block header %}
        <nav class="navbar header-LOGin navbar-full">
            <div class="container-fluid">
               <div class = "row">
                    <div class = "col-md-8 col-sm-8 col-xs-12">
                        <img src="{{ url_for('static', filename = 'images/logo.png')}}" alt = "LOGO" class = "img-responsive" id = "myLogo">
                    </div>
                    <div class = "col-md-4 col-sm-4 col-xs-12" id = user_panel>
                     
                     <!-- Jinja2 logic down below checks if current requests from a client has authenticated user -->
                      <!-- Note: in older Flask-Login versions is_authenticated was a method with () at the end.
                                  From version 0.3.0, its a property and () should be removed! 
                                  https://github.com/lingthio/Flask-User-starter-app/issues/9  -->
                       
                       {% if not g.user.is_authenticated %}
                            <a href="{{ url_for('register') }}" class = "loginBtn btn-block text-center">Register</a>
                            <a href="{{ '/login/' }}" class = "loginBtn btn-block text-center">Login</a>  
                       {% endif %}
                       {% if g.user.is_authenticated %}

                       <div class="row">
                           <div class="col-md-7">
                              <a href = "{{ url_for('user_profile', username=g.user.username)}}"type="button" class="btn btn-primary">User Profile</a>
                                
                           </div>
                           <div class="col-md-5">
                               <a href="{{ url_for('logout') }}" class = "loginBtn btn-block text-center">Logout</a>
                           </div>
                       </div>                           
                       {% endif %}
                    </div>
               </div>
            </div><!-- q/.container-fluid -->
        </nav>
    {% endblock %}
    
    <!-- Adding navigation element from header.html for rendering -->
    {% block navigation %}
    {% endblock %}
</header>

                <!-- BODY ELEMENT -->
<body>    

   <div class="pageContentWrapper">
    
        <div class="container main-content">
            {% block content %}

            {% endblock %}
        </div>

           <!-- Flash Messages - 1. Assign what is returned from get_flashed_messages(), typically list of messages, to a local messages                                variable
                                 2. Check if there is any messages returned 
                                 3. Loop messages and spit them out in a variable {{message}}-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <!-- Wrapping message in div, adding bootstrap classes to it to make pretty -->
                    <div id = "fade" class = "alert alert-warning alert-dismissible" style="width: 50%; margin: auto;" role = "alert">
                       <button type = "button" class="close" data-dismiss = "alert" area-lable = "Close"><span area-hidden = "true" >&times;</span></button>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
    
    </div>
    
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <p id = "credits">This Application was built by Eduards Vagals, Student No.: G00315079 <br> 
                          for project part of a Module: 48898 -- DATA REPRESENTATION AND QUERYING<br>
                          BACHELOR OF SCIENCE IN COMPUTING IN SOFTWARE DEVELOPMENT - GMIT</p>
      </div>
    </footer>
</body>