{% extends "layout.html" %}


{% block content %} 
        <div class = "container-fluid" >
           <div class="row">
               <div class="col-md-4"></div>
               
               <div class="col-md-4">
                    <br>
                    <h3>Registration: </h3>
                    <br>

                    <!-- Code source: http://flask.pocoo.org/docs/0.11/patterns/wtforms/ -->
                    {% from "_formhelpers.html" import render_field %}
                    <form method=post action="/register/">
                        <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm) }}
                        </dl>
                        <p><input class = "loginBtn" style = "border-radius: 20px; width: 150px;"type=submit value=Register>
                        <p><a href="{{ url_for('index') }}" class = "loginBtn btn-block text-center" style = "border-radius: 20px; width: 150px;">Cancel</a>
                    </form>
                    {% if error %}
                       <p class="error"><strong>Error:</strong>{{error}}</p>
                    {% endif %}
               </div>
            
               <div class="col-md-4"></div>
           </div>

        </div>
{% endblock %}