{% extends "layout.html" %}


{% block head %}
    {{ super() }}
{% endblock %}



    {% block navigation %}
                <!-- Header ELEMENT -->
           
            <nav class="navbar navbar-default center" id = "navigation">
                <div class="container-fluid ">
                
               <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collaps-nav-bar" aria-expanded="false"> 
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-inner" id="collaps-nav-bar">
                       <ul class = "nav navbar-nav">

                         <li class = "dropdown">
                             <a href = "{{ '/home' }}" class="dropdown-toggle" role = "button" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                         </li>


                          <li class = "dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" >Application Setup<span class="caret"></span></a>
                              <ul class="dropdown-menu">

                                  {% for t in TOPIC_DICT["Application Settup"] %}

                               <!--  <li role="separator" class="divider"></li> -->

                                      <li><a href="{{t[1]}}">{{t[0]}}</a></li>

                                  {% endfor %}
                              </ul>           
                          </li>

                           <li class = "dropdown">
                               <a class="dropdown-toggle" data-toggle="dropdown" role="button" >App Layout <span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                   {% for t in TOPIC_DICT["App Layout"] %}
                                      <li><a href="{{t[1]}}">{{t[0]}}</a></li>
                                  {% endfor %}
                               </ul>
                           </li>

                           <li class = "dropdown">
                               <a class="dropdown-toggle" data-toggle="dropdown" role="button" >Jinja2 Templating <span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                  {% for t in TOPIC_DICT["Jinja2 Templating"] %}
                                      <li><a href="{{t[1]}}">{{t[0]}}</a></li>
                                  {% endfor %}
                               </ul>
                           </li>

                           <li class = "dropdown">
                               <a class="dropdown-toggle" data-toggle="dropdown" role="button">Database <span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                  {% for t in TOPIC_DICT["Users"] %}
                                      <li><a href="{{t[1]}}">{{t[0]}}</a></li>
                                  {% endfor %}
                               </ul>
                           </li>                                                                            
                       </ul>    
                    </div><!-- /.navbar-collapse -->    
                     
                </div>
            </nav> <!-- End of Navigation Bar -->
        
    {% endblock %} 
      
{% block content %}
    <p>topics.html</p>
{% endblock %}